<br><br>

<div class="card text-center"  data-controller="grandmother">
	<div style="display:none;"> 
		<p data-grandmother-target="par"><%= @par_list[0] %></p>
		<p data-grandmother-target="par"><%= @par_list[1] %></p>
		<p data-grandmother-target="par"><%= @par_list[2] %></p>
		<p data-grandmother-target="par"><%= @par_list[3] %></p>
		<p data-grandmother-target="par"><%= @par_list[4] %></p>
		<p data-grandmother-target="par"><%= @par_list[5] %></p>
		<p data-grandmother-target="par"><%= @par_list[6] %></p>
		<p data-grandmother-target="par"><%= @par_list[7] %></p>
		<p data-grandmother-target="par"><%= @par_list[8] %></p>
	</div>

  <div class="card-header">
    <%= "#{Course.find_by(id: @variant.course_id).name}" %>
  </div>
  <div class="card-body">
  	<div class="row mb-2">
    	<h5 class="card-title"> <%= "#{@variant.name}" %></h5>
    </div>
    <div class="row mb-2">
    	<div class="col-4">
    		<p>Par: <span data-grandmother-target="thispar"></span></p>
    	</div>
    	<div class="col-4">
    		<p>Hole: <span data-grandmother-target="thishole"></span></p>
    	</div>
    	<div class="col-4">
    		<p>Score: <span data-grandmother-target="thisscore"></span></p>
    	</div>
    </div>
    <div class="row mb-2">
	   	<div class="btn-group" role="group" aria-label="Basic example">
  			<button type="button" class="btn btn-primary bg-gradient" data-action="grandmother#shotInc">Throw</button>
	 			<button type="button" class="btn btn-secondary bg-gradient" data-action="grandmother#shotUndo">Undo</button>
	 			<button type="button" class="btn btn-success bg-gradient" data-action="click->grandmother#holeInc">Next</button>
			</div>
		</div>
		<br>
	  <table class="table table-success">
	  	<thead>
	  		<tr>
	  			<th>Hole #</th>
	  			<th scope="col">1</th>
	  			<th scope="col">2</th>
	  			<th scope="col">3</th>
	  			<th scope="col">4</th>
	  			<th scope="col">5</th>
	  			<th scope="col">6</th>
	  			<th scope="col">7</th>
	  			<th scope="col">8</th>
	  			<th scope="col">9</th>
	  			<th scope="col">T</th>
	  		</tr>
	  		<tr>
	  			<th>Pars</th>
	  			<th scope="col" data-grandmother-target="parout"></th>
	  			<th scope="col" data-grandmother-target="parout"></th>
	  			<th scope="col" data-grandmother-target="parout"></th>
	  			<th scope="col" data-grandmother-target="parout"></th>
	  			<th scope="col" data-grandmother-target="parout"></th>
	  			<th scope="col" data-grandmother-target="parout"></th>
	  			<th scope="col" data-grandmother-target="parout"></th>
	  			<th scope="col" data-grandmother-target="parout"></th>
	  			<th scope="col" data-grandmother-target="parout"></th>
	  			<th scope="col" data-grandmother-target="totalpar"></th>
	  		</tr>
		  <tbody>
		  	<tr>
		  		<td>Score</td>
			  	<td data-grandmother-target="score"></td>
			  	<td data-grandmother-target="score"></td>
			  	<td data-grandmother-target="score"></td>
			  	<td data-grandmother-target="score"></td>
			  	<td data-grandmother-target="score"></td>
			  	<td data-grandmother-target="score"></td>
			  	<td data-grandmother-target="score"></td>
			  	<td data-grandmother-target="score"></td>
			  	<td data-grandmother-target="score"></td>
			  	<td data-grandmother-target="total"></td>
			  </tr>
		  </tbody>
		</table>
    <!--
    <div class="row mb-1">
	   	<div class="btn-group" role="group" aria-label="First 3 shots">
	  		<button type="button" class="btn btn-primary bg-gradient" data-architect-target="one">1</button>
  			<button type="button" class="btn btn-primary bg-gradient" data-architect-target="two">2</button>
  			<button type="button" class="btn btn-primary bg-gradient" data-architect-target="three">3</button>
  		</div>	
		</div>
		<div class="row mb-1">
	    <div class="btn-group" role="group" aria-label="Second 3 shots">
	  		<button type="button" class="btn btn-primary bg-gradient" data-architect-target="four">4</button>
	  		<button type="button" class="btn btn-primary bg-gradient" data-architect-target="five">5</button>
	  		<button type="button" class="btn btn-primary bg-gradient" data-architect-target="six">6</button>
			</div>
		</div>
		<div class="row">
	   	<div class="btn-group" role="group" aria-label="Third 3 shots">
	  		<button type="button" class="btn btn-primary bg-gradient" data-architect-target="seven">7</button>
	  		<button type="button" class="btn btn-primary bg-gradient" data-architect-target="eight">8</button>
	  		<button type="button" class="btn btn-primary bg-gradient" data-architect-target="nine">9</button>
			</div>
		</div>
  </div>
	-->
	</div>
</div>
