<div class="px-4 py-5 my-0 text-center">
    <div class="row">
      <div class="col-sm-2"><%= image_tag('disc.jpg', class: "d-block mx-auto mb-4", width: '90', height: '90') %></div>
      <h1 class="display-3 fw-bold col-sm-4 mt-2"><%= current_user.email %></h1>
    </div>
    
    <h1 class="mt-4">Recent Cards</h1>
    <table class="table">
      <thead>
        <th scope="col">Course</th>
        <th scope="col">Par</th>
        <th scope="col">Score</th>
        <th scopt="col">Date</th>
      </thead>
      <tbody>
        <%# loop through the players cards and add 4 recent rounds to table %>
        <p>stuff here</p>
        <p>stuff here</p>
        <p>stuff here</p>
      </tbody>
    </table>
    <br>
    <% if @courses != nil %>
      <h1 class="mt-4">My Courses</h1>
      <table class="table my-2">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.name, course, class:"link-secondary" %></td>
            <td><%= course.city %></td>
            <td><%= course.state %></td>
          </tr>
        <% end %>          
        </tbody>
      </table>
    <% end %>
    <p class="nav-item">
      <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-outline-dark" %>
    </p>
</div>