<div class="px-4 py-5 my-0 text-center">
    <div class="row">
      <h1 class="display-6 fw-bold mt-3 col-sm-4 text-center"><%= current_user.email %></h1>
    </div>
    <br>
    <% if @courses != nil %>
      <div class="p-3 mb-2 bg-success bg-gradient text-white fs-4" style="border-radius:15px">My Courses</div>
      <table class="table my-2">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.name, course, class:"link-secondary" %></td>
            <td><%= course.city %></td>
            <td><%= course.state %></td>
          </tr>
        <% end %>          
        </tbody>
      </table>
    <% end %>
    <div class="p-3 mb-2 bg-success bg-gradient text-white fs-4" style="border-radius:15px">Recent Cards</div>
    <table class="table">
      <thead>
        <th scope="col">Course</th>
        <th scope="col">Par</th>
        <th scope="col">Score</th>
        <th scopt="col">Date</th>
      </thead>
      <tbody>
        <%# loop through the players cards and add 4 recent rounds to table %>
        <td>stuff here</td>
        <td>stuff here</td>
        <td>stuff here</td>
        <td>stuff here</td>
      </tbody>
    </table>
    <p class="nav-item">
      <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-outline-dark mt-4" %>
    </p>
</div>