<div data-controller="variants">
  <%= form_with(model: variant) do |form| %>
    <% if variant.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

        <ul>
          <% variant.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @variant.name == nil %>
      <% @variant.name = "Enter Name" %>
    <% end %>

    <%= form.text_field :name, class:"form-control", placeholder: @variant.name %>
    <button type="button" class="btn btn-outline-primary" data-variants-target="lengthbutton" data-action="variants#toggleLength"></button>

    <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Pars</th>
      </tr>
    </thead>
    <tbody class="text-center align-middle">
      <div>
        <tr>
          <% (1..9).each do |i| %>
            <td><b><%= i %></b></td>
          <% end %>
        </tr>
        <tr>
          <% (1..9).each do |i| %>
            <button type="button" class="btn btn-secondary btn-sml" data-variants-target="parbutton" data-action="variants#parButton">3</button>
          <% end %>
        </tr>
      </div>
      <div data-variants-target="eighteen" class="visualy-hidden">
        <tr>
          <% (10..18).each do |i| %>
            <td><b><%= i %></b></td>
          <% end %>
        </tr>
        <tr>
          <% (10..18).each do |i| %>
            <button type="button" class="btn btn-secondary btn-sml" data-variants-target="parbutton" data-action="variants#parButton">3</button>
          <% end %>
        </tr>
      </div>
      <tr>
        <button type="button" class="btn btn-primary" data-action="variants#setPars">Update Pars</button>
      </tr>
      
    </tbody>
  </table>
  <div class="row, pt-1">
    <%= form.number_field :course_id, id: :variant_course_id, value:course_id, class: "visually-hidden" %>
    <%= form.number_field :length, data: {target: "variants.lengthout" }, class: "visually-hidden" %>
    <%= form.text_field :pars, data: {target: "variants.parsout" }, class: "visually-hidden"  %>
  </div>
  <%= form.submit "Save Layout", class:"btn btn-success" %>

  <% end %>
</div>
