<table>
<tr>
  <td><%= link_to "Play #{variant.name}", play_scorecard_path( variant_id: variant.id ), class:"link-secondary" %></td>
  <td><%= variant.one %></td>
  <td><%= variant.two %></td>
  <td><%= variant.three %></td>
  <td><%= variant.four %></td>
  <td><%= variant.five %></td>
  <td><%= variant.six %></td>
  <td><%= variant.seven %></td>
  <td><%= variant.eight %></td>
  <td><%= variant.nine %></td>
</tr>
<tr>
  <td><%= variant.course_id %></td>
</tr>
</table>