<% if user_signed_in? %>
  <%= render 'layouts/nav' %>
<% end %>
<div class="p-3 mb-2 bg-success bg-gradient text-white fs-4" style="border-radius:15px">Edit Variant</div>
<%= form_with(model: @variant) do |form| %>
  <% if @variant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
        <% @variant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class = "col-9">
    <%= form.text_field :name, class:"form-control", value: @variant.name %>
  </div>
</div>

<% if @variant.pars %>
  <% parray = @variant.pars.split('') %>


  <table class="table table-sm">
    <thead>
      <tr class="row">
        <th class="col-2 text-center">#</th>
        <th class="col-2 text-center">Par</th>
      </tr>
    </thead>
    <tbody class="text-center align-middle">
      <% (0..8).each do |x| %>
        <tr class="row">
          <td class="col-2"><b><%= x + 1 %></b></td>
          <td class="col-2">
            <%= form.text_field :pars, class:"form-control", value:parray[x] %>
          </td>
        </tr>
      <% end %>
      <% if @variant.length == 18 %>
        <% (9..17).each do |x| %>
        <tr class="row">
          <td class="col-2"><b><%= x + 1 %></b></td>
          <td class="col-2">
            <%= form.text_field :pars, class:"form-control", value:parray[x] %>
          </td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= form.submit "Edit Layout", class:"btn btn-success" %>

<% end %>


<br>

<%= link_to "Back to Course", @course, class:"btn btn-outline-dark" %>
 <%= button_to "Destroy this layout", @variant, class:"btn btn-outline-danger mt-2 mb-4", method: :delete %>
