<p style="color: green"><%= notice %></p>

<%= render @variant %>

<div>
  <%= link_to "Edit this layout", edit_variant_path(@variant) %> |
  <%= link_to "Back to Courses", courses_path %>

  <%= button_to "Destroy this layout", @variant, method: :delete %>
</div>
